/* App.css */
.card {
  width: 60rem;
  display: flex;
  margin: 10px;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.card.completed {
  opacity: 0.5;
  transform: translateY(0);
  text-decoration: line-through;
}

.card-body {
  display: flex;
}

.delete-button {
  margin-left: auto; 
  opacity: 0.5; 
  transition: opacity 0.3s ease-out; 
}

.delete-button:hover {
  opacity: 1; 
}
